<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceStore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/nav_bar' %>
    
    <div class="container-fluid p-0">
      <div id="message">
        <%= render partial: 'shared/flash_messages' %>
      </div>

      <%= render partial: 'shared/carousel' %>
    </div>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
